**Bài 1**
Tự tạo một Dataframe ngẫu nhiên có những cột sau đây

Name: tự chọn 

Age: 18 - 60 tuổi

Math: 0.0 - 10.0

English: 0.0 - 10.0

History: 0.0 - 10.0

Note: Các bạn có thể tự tạo bằng hàm random (cộng điểm) hoặc tự thêm thủ công.

a) Tạo Dataframe có ít nhất 10 hàng.

b) Thêm 1 hàng dữ liệu (thông tin bản thân)

c) Thêm cột có tên là Result.

Result: Nếu (Math + English + History)/3 >= 5 thì PASS ngược lại thì NOT PASS

Note: Có thể dừng lại ở bước tính điểm TB

d) xuất ra file csv có tên là result.csv

In [56]:
import pandas as pd
import numpy as np
# a)
num_records = 101

names = ["Peter", "Potter", "Potterio", "Steidernman", "Thu", "DoubleDev", "Tom", "Katio", "Eric", "David"]
name_column = np.random.choice(names, size=num_records)

age_column = np.random.randint(18, 61, size=num_records)

math_column = np.random.uniform(0.0, 10.0, size=num_records)
english_column = np.random.uniform(0.0, 10.0, size=num_records)
history_column = np.random.uniform(0.0, 10.0, size=num_records)

df = pd.DataFrame({"Name": name_column, "Age": age_column, "Math": math_column, "English": english_column, "History": history_column})

df[["Math", "English", "History"]] = df[["Math", "English", "History"]].round(1)

print(df)
# b)
my_row = pd.DataFrame({
    "Name": ["Porter"],
    "Age": [16],
    "Math": [9.0],
    "English": [10],
    "History": [10]
})

df = df.append(my_row, ignore_index=True)
print(df)

# c)
df["Result"] = ["PASS" if (row["Math"] + row["English"] + row["History"]) / 3 >= 5 else "NOT PASS" for index, row in df.iterrows()]

print(df)

# d)

df.to_csv("result.csv")

            Name  Age  Math  English  History
0           Eric   19   2.0      4.6      8.9
1            Thu   47   4.1      5.8      0.0
2         Potter   59   6.8      0.6      5.1
3       Potterio   36   8.7      2.0      6.4
4            Tom   60   9.8      0.8      2.0
..           ...  ...   ...      ...      ...
96           Tom   47   9.9      7.6      3.7
97         Katio   46   1.7      3.5      5.5
98   Steidernman   33   1.5      0.5      0.9
99         Katio   48   4.4      8.6      1.1
100     Potterio   32   7.5      7.4      3.9

[101 rows x 5 columns]
            Name  Age  Math  English  History
0           Eric   19   2.0      4.6      8.9
1            Thu   47   4.1      5.8      0.0
2         Potter   59   6.8      0.6      5.1
3       Potterio   36   8.7      2.0      6.4
4            Tom   60   9.8      0.8      2.0
..           ...  ...   ...      ...      ...
97         Katio   46   1.7      3.5      5.5
98   Steidernman   33   1.5      0.5      0.9
99         Katio   48   4.4      8.6      1.1
100     Potterio   32   7.5      7.4      3.9
101       Porter   16   9.0     10.0     10.0

[102 rows x 5 columns]
            Name  Age  Math  English  History    Result
0           Eric   19   2.0      4.6      8.9      PASS
1            Thu   47   4.1      5.8      0.0  NOT PASS
2         Potter   59   6.8      0.6      5.1  NOT PASS
3       Potterio   36   8.7      2.0      6.4      PASS
4            Tom   60   9.8      0.8      2.0  NOT PASS
..           ...  ...   ...      ...      ...       ...
97         Katio   46   1.7      3.5      5.5  NOT PASS
98   Steidernman   33   1.5      0.5      0.9  NOT PASS
99         Katio   48   4.4      8.6      1.1  NOT PASS
100     Potterio   32   7.5      7.4      3.9      PASS
101       Porter   16   9.0     10.0     10.0      PASS

[102 rows x 6 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\680017992.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(my_row, ignore_index=True)

**Bài 2**

a) Xử lý file csv sau bằng những kiến thức đã học (hạn chế xoá)

b) Thống kê dữ liệu sau (tất cả các cột)

Ví dụ:

- Bao nhiêu huy chương đồng, bạc, vàng?

- Mode, Median, Standard Deviation, Mean bằng bao nhiêu?...

* Lưu ý: Chỉ cần in ra màn hình thông tin tương ứng

In [57]:
import numpy as np
import pandas as pd
import random

df = pd.read_csv("http://winterolympicsmedals.com/medals.csv")
# [KHÔNG SỬA CODE]
# percentage of NA to add
n = 20 

# generate random numbers between 0 and 1 for each row
rand_nums = [random.random() for _ in range(len(df))]

# replace values in column with NA where random number is less than n/100
df.loc[np.array(rand_nums) < n/100, "City"] = np.nan
df.loc[np.array(rand_nums) < n/100, "Year"] = "UNKNOWN"
print(df)
# [KHÔNG SỬA CODE]


# [CODE Ở ĐÂY TRỞ XUỐNG]

#CLEANING
df = df.fillna(method="ffill").fillna(method="bfill")
df["Year"] = df["Year"].replace("UNKNOWN", np.nan).ffill()
df["Year"] = df["Year"].replace("UNKNOWN", np.nan).bfill()
df["Year"] = df["Year"].astype(int)
print(df)

#Count all medal
medal_counts = df.groupby(["NOC", "Medal"])["Medal"].count()
print(medal_counts)

#Cal Year
mean_year = df["Year"].mean().round(0)
median_year = df["Year"].median().round(0)
mode_year = df["Year"].mode().round(0)
std_year = df["Year"].std().round(0)

print("Mean:", mean_year)
print("Median:", median_year)
print("Mode:", mode_year)
print("STD:", std_year)

         Year      City       Sport      Discipline  NOC            Event  \
0        1924  Chamonix     Skating  Figure skating  AUT       individual
1     UNKNOWN       NaN     Skating  Figure skating  AUT       individual
2        1924  Chamonix     Skating  Figure skating  AUT            pairs
3        1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4        1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
...       ...       ...         ...             ...  ...              ...
2306     2006     Turin      Skiing       Snowboard  USA        Half-pipe
2307     2006     Turin      Skiing       Snowboard  USA        Half-pipe
2308  UNKNOWN       NaN      Skiing       Snowboard  USA        Half-pipe
2309     2006     Turin      Skiing       Snowboard  USA  Snowboard Cross
2310     2006     Turin      Skiing       Snowboard  USA  Snowboard Cross

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2306            M  Silver
2307            W    Gold
2308            W  Silver
2309            M    Gold
2310            W  Silver

[2311 rows x 8 columns]
      Year      City       Sport      Discipline  NOC            Event  \
0     1924  Chamonix     Skating  Figure skating  AUT       individual
1     1924  Chamonix     Skating  Figure skating  AUT       individual
2     1924  Chamonix     Skating  Figure skating  AUT            pairs
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
...    ...       ...         ...             ...  ...              ...
2306  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2307  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2308  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2309  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross
2310  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2306            M  Silver
2307            W    Gold
2308            W  Silver
2309            M    Gold
2310            W  Silver

[2311 rows x 8 columns]
NOC  Medal
AUS  Bronze     3
     Gold       3
AUT  Bronze    70
     Gold      51
     Silver    64
               ..
USA  Gold      78
     Silver    80
UZB  Gold       1
YUG  Bronze     1
     Silver     3
Name: Medal, Length: 112, dtype: int64
Mean: 1980.0
Median: 1988.0
Mode: 0    2006
Name: Year, dtype: int32
STD: 22.0